/*Navigation CSS*/
nav {
    position: absolute;
    width: 100%;
    bottom: -12px;
    height: 100px;
}

nav ul {
    font-family: 'Muli', sans-serif;
    list-style-type: none;
    overflow: hidden;
    color: #ddd;
    background-color: #465902;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #BFF205;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #465902;
    background-color: #BFF205;
}
