@import "./nav-custom.css";

/* Color Theme Swatches in Hex */
.Happy-Address-1-hex { color: #010440; }
.Happy-Address-2-hex { color: #BF9004; }
.Happy-Address-3-hex { color: #F2C744; }
.Happy-Address-4-hex { color: #D9D8D7; }
.Happy-Address-5-hex { color: #8C3B0D; }

/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #BFF205; }
.Graphic-Design-2-hex { color: #83A603; }
.Graphic-Design-3-hex { color: #465902; }
.Graphic-Design-4-hex { color: #EAF205; }
.Graphic-Design-5-hex { color: #0D0D0D; }

html {
    font-size: 16px;
    font-family: 'Arsenal', sans-serif;
    color: #222;
    background-color: #0D0D0D;
    color: #cccccc;
}

title {
    padding-right: 20px;
}

/*a:link {color:#D9D8D7;}      !* unvisited link *!*/
/*a:visited {color:#BFF205;}  !* visited link *!*/
/*a:hover {color:#465902;}  !* mouse over link *!*/
/*a:active {color:#465902;}  !* selected link *!*/

#wrapper {
    margin: auto;
    /*max-width: 800px;*/
    border-color: #222;
    background-color: #0D0D0D;
    /*border-style: dotted;*/
    /*border-width: 0 5px;*/
    /*padding: 0 5px;*/
}

.form-select {
    height: 40px;
    width: 150px;
    padding: 10px;
    border-color: green;

}

header {

    background-color: #0D0D0D;
    height: 270px;
    position: relative;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-image: url("https://cdn.mos.cms.futurecdn.net/bZ7CoDbLP5qM376iLJyxRG.jpg");*/
}


#logo {
    font-family: 'Charlemagne';
    padding: 100px 0;
    /*width: 200px;*/
    /*margin: 0 0px;*/
    font-variant: small-caps;
    letter-spacing: .05em;
    font-size: 5em;
    text-align: center;
    color: #BFF205;
    line-height: 1.0em;
}



#content {
    color: white;
    min-height: 500px;
    background-color: #0D0D0D;;
    padding: 0 30px 80px;
}

.username {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    color: white;
    background-color: #0D0D0D;
}

.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #222;
    background-image: url("../img/blackleather.png");
    border: 2pt solid #222;
    float: left;
    margin: 0 40px 20px 0px;
}

textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Muli', sans-serif;
    padding: 20px;
    color: whitesmoke;
    background-color: #465902;
    font-size: .9em;
}

footer a {
    color: white;
}

/*!*Side by side*!*/
.key-container {
    display: flex;
    padding: 20px;
}

.float-child {
    float: left;
    padding: 15px;
}

/*Key selector CSS*/
.short {
    height: 100px;
    padding: 50px;
    margin-bottom: 25px;
}



/*Keyboard CSS*/
:root {
    --outline-color: black;
}
.hit .key-letter {
    color: white;
    position: absolute;
    width: 50%;
    bottom: 0;
    text-align: center;
}

.key-letter {
    color: black;
    position: absolute;
    width: 50%;
    bottom: 0;
    text-align: center;

}

.key {
    float: left;
    position: relative;
    padding: 10px;
}

.white {
    height: 14.4vw;
    width: 3.5vw;
    z-index: 1;
    border-top: 0.12vw solid var(--outline-color);
    border-bottom: 0.12vw solid var(--outline-color);
    border-left: 0.12vw solid var(--outline-color);
    background-color: #CBCBCB;
}

.black {
    height: 7.92vw;
    width: 2.0vw;
    z-index: 2;
    border: 0.12vw solid #000000;
    background-color: #222222;
}

.a, .b, .d, .e, .g, .black {
    margin: 0 0 0 -1.1676190476vw;
}

#keyboard {
    height: 14.5vw;
    min-width: 300px;
    border-right: 0.12vw solid var(--outline-color);
}
.hit {
    background-color: #83A603;
}

